<!DOCTYPE html>
<html>

<head>
    <title>Real-Time ToDo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="background-fixed">
        <nav class="navbar">
            <div class="logo"> Bubu & Dudu</div>
            <div class="navtoggle" id="navtoggle">&#9776;</div>
            <ul class="nav-links" id="nav-links">
                <li><a href="#shopping">Shopping</a></li>
                <li><a href="#todo">ToDo</a></li>
                <li><a href="#important">Important</a></li>
            </ul>
        </nav>



        <script>
            const navtoggle = document.getElementById("navtoggle");
            const navLinks = document.getElementById("nav-links");

            navtoggle.addEventListener("click", () => {
                navLinks.classList.toggle("show");
            });
        </script>

        <div class="task-columns">
            <section id="shopping" class="section">

                <div class="column-box" id="column-title">
                    <h1 class="shopping-text">Shopping</h1>
                    <div class="center-list">
                        <div class="input-wrapper">
                            <input id="input-shopping" placeholder="New task..." />
                            <button class="add-button" onclick="sendTask('shopping')">Add</button>
                        </div>


                        <ul id="shopping-list">
                            {% for task in shopping_tasks %}
                            <li class="textContent" data-id="{{ task.id }}">


                                <div class="box1">{{ task.text }}</div>
                                <div class="box2">
                                    <button class="delete-button" onclick="deleteTask('{{ task.id }}')">❌</button>



                                </div>
                                <div class="box3">
                                    {% if task.user_id == 1 %}
                                    <img src="{{ url_for('static', filename='img/user1.png') }}" alt="User 1" width="24"
                                        height="24">
                                    {% elif task.user_id == 2 %}
                                    <img src="{{ url_for('static', filename='img/user2.png') }}" alt="User 2" width="24"
                                        height="24">
                                    {% else %}
                                    <span>❓</span>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </section>
            <section id="todo" class="section">

                <div class="column-box" id="column-title">
                    <h1 class="todo-text">ToDo</h1>
                    <div class="center-list">
                        <div class="input-wrapper">
                            <input id="input-todo" placeholder="New task..." />
                            <button class="add-button" onclick="sendTask('todo')">Add</button>
                        </div>
                        <ul id="todo-list">
                            {% for task in todo_tasks %}
                            <li class="textContent" data-id="{{ task.id }}">


                                <div class="box1">{{ task.text }}</div>
                                <div class="box2">
                                    <button class="delete-button" onclick="deleteTask('{{ task.id }}')">❌</button>


                                </div>
                                <div class="box3">
                                    {% if task.user_id == 1 %}
                                    <img src="{{ url_for('static', filename='img/user1.png') }}" alt="User 1" width="24"
                                        height="24">
                                    {% elif task.user_id == 2 %}
                                    <img src="{{ url_for('static', filename='img/user2.png') }}" alt="User 2" width="24"
                                        height="24">
                                    {% else %}
                                    <span>❓</span>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </section>
            <section id="important">

                <div class="column-box" id="column-title">
                    <h1 class="important-text">Important</h1>
                    <div class="center-list">
                        <div class="input-wrapper">
                            <input id="input-important" placeholder="New task..." />
                            <button class="add-button" onclick="sendTask('important')">Add</button>
                        </div>
                        <ul id="important-list">
                            {% for task in important_tasks %}
                            <li class="textContent" data-id="{{ task.id }}">


                                <div class="box1">{{ task.text }}</div>
                                <div class="box2">
                                    <button class="delete-button" onclick="deleteTask('{{ task.id }}')">❌</button>

                                </div>
                                <div class="box3">
                                    {% if task.user_id == 1 %}
                                    <img src="{{ url_for('static', filename='img/user1.png') }}" alt="User 1" width="24"
                                        height="24">
                                    {% elif task.user_id == 2 %}
                                    <img src="{{ url_for('static', filename='img/user2.png') }}" alt="User 2" width="24"
                                        height="24">
                                    {% else %}
                                    <span>❓</span>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <a href="/logout" class="logout-button">Logout</a>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
        <script src="{{ url_for('static', filename='gsap.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>